*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */

header{
  width: 100%;
  height: 100px;
}

header .container{
  padding-top: 20px;
  padding-left: 20px;
}

header .container img{
  vertical-align: middle;
}

header span{
  font-weight: 900;
  font-size: 50px;
  vertical-align: middle; 
}

/* Main */

main{
  padding-top: 40px;
  width: 100%;
  height: 1000px;
  background-color: #f6f8f9;
}

main .container{
  padding: 15px;
  padding-left: 50px;
  width: 80%;
  margin-left: 100px;
  margin-bottom: 1px;
  background-color: white;
}

.container.primary{
  border-radius: 5px  5px 0 0;
}

main .container #add-task, main .container #add-section{
  padding: 7px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 1rem;
}

#add-task{
  background-color: #47adf1;
  color: white;
}

#add-section{
  color: rgba(0, 0, 0, 0.2);
}

main ul{
  list-style: none;
  padding-left: 15px;
  padding-bottom: 10px;
}

main li{
  padding-bottom: 10px;
}

main .primary-list{
  color: #51555d;
  font-size: 30px;
  font-weight: 600;
}

main .secondary-list{
  font-size: 20px;
}

.primary-list, .secondary-list span::after{
  content: " ";
}


main .primary-list span{
  font-size: 15px;
}

main .secondary-list .notify{
  font-size: 10px;
  padding: 4px;
  color: white;
  border-radius: 8px;

}

.secondary-list .editorial{
  background-color: #47adf1;
}

.secondary-list .q1-goals{
  background-color: #9c72e4;
}

.secondary-list .recruting{
  background-color: #64c0a9;
}

.secondary-list .mobile{
  background-color: #f29e33;
}

.secondary-list .website{
  background-color: #d863a1;
}

.secondary-list .sales{
  background-color: #aec721;
}

.secondary-list .list{
  border-radius: 50%;
  padding: 2px;
  font-size: 10px;
  font-weight: 900;
}

main span.check{
  border: 1px solid #94d7c9;
  color: #94d7c9;
  
}
main span.cross{
  border: 1px solid #ec736e;
  color: #ec736e;
}

#add-task:hover, #add-section:hover, .notify:hover{
  background-color: orangered;
}